.lc-gallery {
  .acf-gallery-grid {
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    .acf-gallery-item {
      width: calc(50% - 1rem);
      margin: 0.5rem;
      display: block;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform var(--transform);
      }

      &:hover img {
        transform: scale(1.03);
      }

      @media (min-width: 768px) {
        width: calc(33.333% - 1rem);
      }
      @media (min-width: 992px) {
        width: calc(25% - 1rem);
      }
    }
  }
}
