.footer {
  background-color: var(--col-blue-400);
  color: var(--col-white);

  a {
    color: var(--col-white);
    transition: color var(--transition);
    text-decoration: none;
    &:hover {
      color: var(--col-accent-400);
    }
  }

  .colophon {
    border-top: 1px solid hsl(0 0 100% / 0.4);
    padding-top: 1rem;
    font-size: var(--fs-200);
    color: var(--col-light);
  }
}
